<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/litepicker/dist/css/litepicker.css" /> 
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>


    <title>{% block title %}Receipt Tracker{% endblock %}</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 40px; }
        nav { margin-bottom: 30px; }
        nav a {
            margin-right: 20px;
            text-decoration: none;
            color: #2980b9;
        }
        nav a:hover { text-decoration: underline; }
    </style>
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/receipts/">Receipts</a>
    <a href="/receipts/upload/">Upload</a>
    <a href="/admin/">Admin</a>
</nav>

{% block content %}{% endblock %}



<script> new Litepicker({ 
    element: document.getElementById('date_range'), 
    singleMode: false, numberOfMonths: 2, 
    numberOfColumns: 2, format: "YYYY-MM-DD", 
    minDate: "{{ earliest_date }}", 
    maxDate: "{{ latest_date }}", 
    autoApply: true, }); 
</script>

</body>
</html>
